<div class="registro-container">
    
    <div class="register-container">
        <p>Bienvenido a Universidad del Río</p>
        <div class="create-account">
            <label>¿Ya una tienes cuenta? </label>
            <button class="btn-nvg" (click)="navigateToLogin()">Iniciar sesión</button>
        </div>
    </div>
    <div class="form-container">
        <h1>Registrarse</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-email">
                <span>Correo electronico</span>
                @if (form.get('email')?.touched && form.get('email')?.errors) {
                    <input type="email" class="input-email-err" formControlName="email" placeholder="Error de validacion" >
                }
                @else {
                    <input type="email" class="input-email" formControlName="email" placeholder="Correo electronico">
                }
            </div>
            <div class="form-password">
                <span>Contraseña</span>
                @if (form.get('password')?.touched && form.get('password')?.errors || this.error) {
                    <input type="password" class="input-password-err" formControlName="password" placeholder="La contraseña debe tener almenos 6 digitos" >
                }
                @else {
                    <input type="password" class="input-password" formControlName="password" placeholder="Contraseña">
                }
            </div>
            <p></p>
            <div class="buttons">
                <button type="submit" class="btn-login">Registrarse</button>
            </div>
            
        </form>

    </div>
        
</div>
