<div style="margin: 20px;">
    <h1>Registrarse</h1>
    <div class="col-sm-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control" formControlName="email">
                @if (form.get('email')?.touched && form.get('email')?.errors) {
                    <div style="color: red;">Error de validación</div>
                }
            </div>
            <div class="form-group">
                <label>Contraseña:</label>
                <input type="password" class="form-control" formControlName="password">
                @if (form.get('password')?.touched && form.get('password')?.errors) {
                    <div style="color: red;">La contraseña debe tener al menos 6 caracteres</div>
                }
            </div>
            <p></p>
            <div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>
    